html, body{
    height:100%;
    margin:0px;
    padding:0px;
    overflow:hidden;
    font-family:"Droid Sans";
}

body{
    background-image:url("../img/sunset1.jpg");
}

.title{
    font-size:50px;   
}

#welcome{
    height:100%;
    width:100%;
    position:absolute;
    background-image:url("../img/sunset1.jpg");
    z-index:6;
    display:inline;
    padding-top:20em;
    padding-right:45em;
}

#welcome>div{
    text-align:center;   
}

#main{
    display:inline;
}

#welcome span{
    font-size:10em;
    background-image:none;
}

#welcome img{
    padding-bottom:5em;
}

#subheading{
    font-size:2em;
}

#start{
    width:10em;
    margin-top:1em;
}

#header{
    text-align:left;
    padding-left:20px;
    padding-top:10px;
}

#header img{
    margin-bottom:25px;
}

#everything{
    height:86%;
    margin:-10px 10px 0px 10px;
    padding:0px 10px 10px 10px;
}

#aboutpara{
    font-size:37px;
}

.abouttext{
    font-size:17px;
    text-align:right;
    margin-left:20em;
}

#about-div{
    padding:10em 45em 5em 0em;
    text-align:center;
}

.img{
    padding-left:30px;
    padding-bottom:5px;
    height:40px;
    width:auto;
}

#aboutleft{
    margin-left:5em;
    padding-top:0em;
    text-align:right;
    font-size:18px;
    width:50%;
}

#abt{
    margin-top:5px;
}

#info{
    z-index:5;
    position:absolute;
    display:none;
    background-image:url("../img/sunset1.jpg");
    height:100%;
    width:100%;
}

#left-box{
    padding:0px 10px 0px 0px;
    height:100%;
    margin:0px;
    overflow:visible;
}

.subheading{
    font-size:18px;
}

#preferences{
    height:100%; 
    margin:0px;
    padding:10px;
}

#pref-title{
    margin:5px 0px 0px 15px;
    font-size:32px;
    font-weight:300;
    font-family:"Roboto";
}

#right-box{
    height:100%;
    margin:0px;
}

.dhx_cal_container{
    width:auto;
    height:95%;
    padding:10px;
}

.dhx_cal_date{
    display:none;
}

#results-nav{
    margin-top:20px;
    text-align:left;
}   

#search, #results{
    width:100%;   
}

#added-classes{
    margin-top:10px;   
}

.added-class{
    padding:5px;
    margin:3px 0px 3px 0px;
    border:1px solid #490062;
}

.added-class>a{
    color:black;   
}

.prefs{
    display:table;  
    width:100%;
    height:2em;
}

.pref{
    display:table-cell; 
    width:33.33333%;
    height:3em;
    font-size:0.6em;
    font-family:"Droid Sans";
    padding-left:0px;
    padding-right:0px;
}

#attributes{
    margin-top:0.6em;   
}

#class-count{
    margin-top:25px;   
}

#submit{
    margin-top:30px;
    text-align:center;
}

a:visited, .white{
    color:white;
}

.listButton {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid lightgray;
    cursor: pointer;
    cursor: hand;
}

.listButton:hover {
    background-color: darkgray;
}

.form-control:focus{
    border-color:#490062;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(49,00,62,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(49,00,62,.6);
}

.glyphicon-remove {
    cursor: pointer;
    cursor: hand;
}

.labButton:hover {
    background-color: darkgray;
}

.sidebar {
    overflow-y: auto;
    height: 90%;
}

#classSearchBar{
    border:1px solid #E6C0F2;
}

#submit img{
    height:32px;
    width:32px;
}

#submit button{
    background-color:purple;
}