html, body{
    height:100%;
    margin:0px;
    padding:0px;
    overflow:hidden;
    font-family:"Droid Sans";
}

body{
    background-image:url("../img/sunset1.jpg");
}

#title{
    font-size:50px;   
}

#header{
    text-align:left;
    padding-left:20px;
    color:#ffffff;
}

#everything{
    height:90%;
    margin:0px 10px 0px 10px;
    padding:10px;
}

#left-box{
    padding:0px 10px 0px 0px;
    height:100%;
    margin:0px;
}

.subheading{
    font-size:18px;
}

#preferences{
    height:100%; 
    margin:0px;
    padding:10px;
}

#pref-title{
    margin:5px 0px 0px 15px;
    font-size:32px;
    font-weight:300;
    font-family:"Roboto";
}

#right-box{
    height:100%;
    margin:0px;
}

.dhx_cal_container{
    width:auto;
    height:90%;
    padding:10px;
}

.dhx_cal_date{
    display:none;
}

#results-nav{
    margin-top:20px;
    text-align:left;
}   

#search, #results{
    width:100%;   
}

#added-classes{
    margin-top:10px;   
}

.added-class{
    margin-top:5px;   
}

.prefs{
    display:table;  
    width:100%;
}

.pref{
    display:table-cell; 
    width:33.33333%;
    font-size:13px;
    font-family:"Droid Sans";
}

#attributes{
    margin-top:0.6em;   
}

#class-count{
    margin-top:25px;   
}

#submit{
    margin-top:30px;
    text-align:center;
}

.listButton {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid lightgray;
    cursor: pointer;
    cursor: hand;
}

.listButton:hover {
    background-color: darkgray;
}