html, body{
    height:100%;
    margin:0px;
    padding:0px;
}

#everything{
    height:100%;
    margin:0px;
    padding:10px;
}

#left-box{
    padding:0px 10px 0px 0px;
    height:100%;
    margin:0px;
}

#search, #preferences{
    height:50%; 
    margin:0px;
}

#calendar-box{
    height:100%;
    margin:0px;
}

.dhx_cal_container{
    width:auto;
    height:100%;
    padding:10px;
}
