html, body{
    height:100%;
    margin:0px;
    padding:0px;
    overflow:hidden;
}

body{
    background-image:url("../img/sunset1.jpg");
}

#title{
    font-size:50px;   
}

#header{
    text-align:left;
    padding-left:10px;
    color:#ffffff;
}

#everything{
    height:90%;
    margin:0px;
    padding:10px;
}

#left-box{
    padding:0px 10px 0px 0px;
    height:100%;
    margin:0px;
}

#preferences{
    height:100%; 
    margin:0px;
}

#right-box{
    height:100%;
    margin:0px;
}

.dhx_cal_container{
    width:auto;
    height:90%;
    padding:10px;
}

.dhx_cal_date{
    display:none;
}

#results-nav{
    margin-top:20px;
    text-align:center;
}   

#search, #results{
    width:100%;   
}

#added-classes{
    margin-top:10px;   
}

.added-class{
    margin-top:5px;   
}

.prefs{
    display:table;  
    width:100%;
}

.pref{
    display:table-cell; 
    width:33.33333%;
}

#attributes{
    margin-top:15px;   
}

#class-count{
    margin-top:25px;   
}

#submit{
    margin-top:30px;
    text-align:center;
}
